* {
  box-sizing: border-box;
}

body {
  background-color: #333333;
  color: #F0F0F0;
  font: 16px 'Open Sans', sans-serif;
  margin: 0 20px;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:active,
a:focus,
a:visited {
  color: #999999;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
}

section,
footer {
  margin: 50px auto;
  max-width: 1200px;
}

hr {
  margin: 0 auto;
  max-width: 1200px;
}


.language_holder {
  line-height: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.language_holder button {
  transition: 200ms;
  background: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  line-height: 1;
  padding: 5px;
  margin: 0 2px;
}

.language_holder button:hover {
  background-color: #999999;
}

section.intro .title {
  text-align: center;
}

section.intro .title::after {
  clear: both;
  content: '';
  display: block;
}

section.intro .title h1 {
  color: darkkhaki;
  line-height: 30px;
  margin: 0;
  padding: 12.5px 0;
}

section.intro .title .social {
  font-size: 0;
}

section.intro .title .social a {
  display: inline-block;
  margin: 10px 5px;
  transition: 200ms;
}

section.intro .title .social a:hover {
  color: darkkhaki;
}

section.intro .title .social svg {
  display: block;
  fill: currentColor;
  height: 35px;
  width: 35px;
}

section.intro .holder {
  overflow: hidden;
}

@media (min-width: 600px) {
  section.intro .title {
    text-align: left;
  }

  section.intro .title h1 {
    float: left;
    padding-right: 10px;
  }
}
